body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #343434;
}
.box
{
    background: #191919;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box h1{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: rgb(19, 19, 88);

}
.box input[type="text"],.box input[type="password"]
{
display: block;
background: none;
border: 0;
margin: 20px auto;
border: 2px solid #3498db;
text-align: center;
padding: 14px 12px;
width: 200px;
color: white;
border-radius: 24px;
outline: none;
transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type="submit"]
{
    display: block;
background: none;
border: 0;
margin: 20px auto;
border: 2px solid #2ecc71;
text-align: center;
padding: 14px 12px;
width: 140px;
color: white;
border-radius: 24px;
outline: none;
transition: 0.25s;
cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: #2ecc71;
}
